# Problem 1

## 1a) Which algorithm makes the fewest mistakes?

The first algorithm mistakenly identified 5 people as birds and 3 birds as people, making a total of 8 errors out of 100 trials. The second catagorized 11 people as birds and 1 bird as a person, for a total of 12 errors out of 100 trials. This means that the second algorithm made more errors total.

## 1b) Which algorithm is better for the zoo? Explain.

For the zoo, it would be much better to use the second algorithm. Although it has more errors total, what is important is what the errors were. The first algorithm would have let 3 birds out, while the second would have let out only 1. This means that the 3 times as many birds would be let out with the first algorithm than the second, which is really bad for a zoo, since the whole attraction of a zoo is to look at animals, and if the animals all escape, then the zoo has no purpose.

## 1c) Make new truth tables for both algorithms.

In [32]:
import pandas as pd

tPeopleNNPeople = 47/52
tPeopleNNBird = 5/52

tBirdNNPeople = 3/48
tBirdNNBird = 45/48

alg_1 = {"True bird" : { 
        "NN Bird": round(tBirdNNBird*99), 
        "NN People": round(tBirdNNPeople*99)
    },
    "True people": {
        "NN Bird": round(tPeopleNNBird*1),
        "NN People" : round(tPeopleNNPeople*1)
    }
}
nndf = pd.DataFrame(alg_1)

tPeopleNAPeople = 42/52
tPeopleNABird = 11/52

tBirdNAPeople = 1/48
tBirdNABird = 47/48

alg_2 = {"True bird" : { 
        "NA Bird": round(tBirdNABird*99), 
        "NA People": round(tBirdNAPeople*99)
    },
    "True people": {
        "NA Bird": round(tPeopleNABird*1),
        "NA People" : round(tPeopleNAPeople*1)
    }
}
nadf = pd.DataFrame(alg_2)
print("First algorithm")
display(nndf)
print("Second algorithm")
display(nadf)

First algorithm

           True bird  True people
NN Bird           93            0
NN People          6            1

Second algorithm

           True bird  True people
NA Bird           97            0
NA People          2            1

# Problem 2

## 2a) What is the pdf of the sum of two identical exponential distributions?

Based on the <a href = https://en.wikipedia.org/wiki/Exponential_distribution#Sum_of_two_independent_exponential_random_variables>Wikipedia page for the exponential distribution</a>, we can see that the sum of two identical exponential distributinos is an <a = https://en.wikipedia.org/wiki/Erlang_distribution>Erlang distribution</a> of shape 2 and parameter $\lambda$

## 2b) What is the pdf of the ratio of two zero-mean unity variance normal distributions  X1/X2 ?

Based on <a href=http://www.math.wm.edu/~leemis/chart/UDR/PDFs/StandardnormalStandardcauchy.pdf>this proof<a>, the pdf of the ratio between two zero-mean unity variance normal distriubtion is a standard Cauchy distribution.

## 2c) What is the pdf?

<a href=https://en.wikipedia.org/wiki/Normal_distribution#Operations_on_two_independent_standard_normal_variables>Here<a> we can see that the combination two gaussians with seperate independent standard normal random variables with mean 0 and variance 1 has the same distribution as a Rayleigh distribution.